body {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

}

.columna {
    height: 200px;
    width: 200px;
    background-color: rebeccapurple;
    margin: 10px;
}
