.contenidor-flex > div{

    background-color: #f1f1f1;
    width: 500px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    border-radius: 10px;
}

.contenidor-flex {

    display: flex;
    background-color: cornflowerblue;
    /*flex-direction: column-reverse;*/
    /*flex-wrap: wrap;*/
    /*flex-flow: row wrap;*/
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-evenly;
    row-gap: 100px;
    column-gap: 100px;
    flex-grow: 2;
}

.p {

    order: -1;
}

.c1 {

    order: 1;
}

.c2 {

    order: 1;
}

.c3 {

    order: 0;
}

.c4 {

    order: 0;
}

.c5 {

    order: 1;
}

.c6 {

    order: 1;
}