body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: aliceblue;

}

h1 {
    text-align: center;
    color: royalblue;

}

h2 {
    text-align: center;
    color: royalblue;
    font-size: 25px;

}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.seccio {
    flex: 1;
    min-width: 300px;
    max-width: 450px;
    margin: 10px;

}


.imatges img{
    height: 150px;
    margin: 10px;
    width: 400px;
    object-fit: cover;
}

